.myPosts {
    background-color: #333333;
    padding: 20px;
    border: 1px solid #333333;
    border-radius: 10px;
}

.new_posts {
    margin-bottom: 10px;
}
.newPostForm {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.h1 {
    font-size: medium;
}
.title {
    margin-bottom: 10px;
}
.body {
    margin-bottom: 10px;
}