.textarea {
    width: 100%;
    box-sizing: border-box;
}

.messages {
    padding: 20px;
    height: 60vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.messagesElements {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    overflow: auto;
    bottom: 0;
}