.header {
    font-size: large;
    box-sizing: border-box;
    grid-area: header;
    background-color: #222222;
    display: flex;
    justify-content: right;
    padding: 20px;
    height: 100px;
    border: 1px solid #222222;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 5px 5px black;
}

.logBtn {
    color: white;
    font-family: inherit;
}

.loginBlock {
    text-align: center;
}

.userLogin {
    color: #e1e3e6;
    margin-bottom: 10px;
}
