.app-wrapper {
    display: grid;
    grid-template-areas:
    "header header"
    "nav content";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 15px;
    max-width: 80%;
    margin: auto;
}

.app-wrapper-content {
    grid-area: content;
    background-color: lightgray;
    padding: 20px;
}